@model IEnumerable<WebPdfOdev.Models.OgretmenDersleri>

@{
    ViewBag.Title = "Pdf Sınıfları";
    Layout = "~/Views/Shared/OgretmenPanel.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
       
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 style="text-align:center"2>@WebPdfOdev.Resources.OgretmenPaneli.DosyaEkle.secilendersler</h2>
                <br /><br />
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>@WebPdfOdev.Resources.OgretmenPaneli.DosyaEkle.Derskodu</th>

                                <th>@WebPdfOdev.Resources.OgretmenPaneli.DosyaEkle.Dosyaekle</th>

                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.derskodu)
                                    </td>
                                    <td>
                                       
                                        @Html.ActionLink(WebPdfOdev.Resources.OgretmenPaneli.DosyaEkle.Dosyaekle, "PdfEkle", Session["derskodu"]=item.derskodu) 
                                      
                                    </td>
                                </tr>
                            }
                        </thead>
                        <tbody>
                            <tr class="odd gradeX"></tr>



                        </tbody>
                    </table>
                </div>

            </div>

            <div>


            </div>
        </div>
    </div>
</div>
