@model WebPdfOdev.Models.Uye
@{
    ViewBag.Title = WebPdfOdev.Resources.Home.admingiris;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>

    @using (Html.BeginForm())

    {
        <div style="text-align:center;color:red"><h6><b>@ViewBag.mesaj</b></h6></div>
        @Html.AntiForgeryToken()

       
        <div class="content-wrapper">
            <div class="container">

                <div style="margin-left:3%">
                    <h2 style="margin-left:10%;margin-top:5%">@WebPdfOdev.Resources.Girisler.Uye.adminbaslik</h2><br />
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-body">

                                <form role="form">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Kullanaciadi, htmlAttributes: new { @class = "control-label col-md-5" })

                                        @Html.EditorFor(model => model.Kullanaciadi, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })

                                        @Html.ValidationMessageFor(model => model.Kullanaciadi, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-5" })

                                        @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })

                                    </div>


                                    <h3>@ViewBag.Hata</h3>
                                    <div class="form-group">

                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="@WebPdfOdev.Resources.Girisler.Uye.girisbutton" class="btn btn-default" style="float:right" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>
                <div>
                    <span>

                        <b>
                            @WebPdfOdev.Resources.Girisler.Uye.adminnot1.<br />@WebPdfOdev.Resources.Girisler.Uye.adminnot2.
                           
                        </b>
                    </span>

                </div>
            </div>


        </div>


        <div style="margin-bottom:10%"></div>
    }
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>


}

