@model WebPdfOdev.Models.Yorum

@{
    ViewBag.Title = "OgrenciPdf Yorum Sil";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}


<h2 style="text-align:center">@WebPdfOdev.Resources.AdminPaneli.Yorumlar.Yorumlar.ogrenciyorumlarısil</h2>


<dl class="dl-horizontal" style="margin-left:5%">
    <dt>
        @WebPdfOdev.Resources.AdminPaneli.Uyeler.Uyeler.Adı
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Uye.uyeAd)
    </dd>

    <dt>
        @WebPdfOdev.Resources.AdminPaneli.Uyeler.Uyeler.yetki
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Yetkisi.yetki)
    </dd>

    <dt>
        @WebPdfOdev.Resources.AdminPaneli.Yorumlar.Yorumlar.İçerik
    </dt>

    <dd>
        @Html.DisplayFor(model => model.icerik)
    </dd>

    <dt>
        @WebPdfOdev.Resources.AdminPaneli.Yorumlar.Yorumlar.Tarih
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Tarihi)
    </dd>

    <dt>
        @WebPdfOdev.Resources.AdminPaneli.Uyeler.Uyeler.Email
    </dt>

    <dd>
        @Html.DisplayFor(model => model.uyeEmail)
    </dd>

</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="margin-left:5%">
        <input type="submit" value="@WebPdfOdev.Resources.Veritabaniİslemleri.Sil" class="btn btn-default" /> |
        @Html.ActionLink(WebPdfOdev.Resources.AdminPaneli.Yorumlar.Yorumlar.ogrenciyorumlarıgor, "YorumlariGör")
    </div>
}

