 @{
     if (Session["yetkiid"] == null)
     {
         Response.Redirect("~/Uye/HataSayfasi");
     }
     if (Convert.ToInt32(Session["yetkiid"]) != 2)
     {
         Response.Redirect("~/Uye/OgrenciGiris");
     }
    }


<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@WebPdfOdev.Resources.OgrenciPaneli.Menüler.baslik</title>

    <!-- Bootstrap core CSS-->
    <link href="~/Content/css/Admin/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/css/Admin/font-awesome.min.css" rel="stylesheet" />
    <!-- Page level plugin CSS-->
    <link href="~/Content/css/Admin/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/css/Admin/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="~/OgrenciSayfasi/OgrenciAnasayfa">@WebPdfOdev.Resources.OgrenciPaneli.Menüler.baslik</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                  <a class="nav-link"@Html.ActionLink(WebPdfOdev.Resources.OgrenciPaneli.Menüler.Anasayfa, "OgrenciAnasayfa", "OgrenciSayfasi")
                       
                       
                    </a>
                </li>
               

                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        
                        <span class="nav-link-text">@WebPdfOdev.Resources.OgrenciPaneli.Menüler.ögrencisınıfları</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            @Html.ActionLink(WebPdfOdev.Resources.OgrenciPaneli.Menüler.Derslerin, "DersKoduGir", "OgrenciSayfasi")
                        </li>
                        <li>
                            @Html.ActionLink(WebPdfOdev.Resources.OgrenciPaneli.Menüler.Secilendersler, "SecilenDersler", "OgrenciSayfasi")
                        </li>
                    </ul>
                </li>
             
          
              
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" @Html.ActionLink(WebPdfOdev.Resources.OgrenciPaneli.Menüler.Adminyorumgonder, "OgrenciAdminYorum", "Yorumlar")


                    </a>
                </li>
                
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item" style="background-color:white" >@Html.ActionLink(WebPdfOdev.Resources.Home.ANASAYFA, "Anasayfa", "Home")</li>|
                
                <li class="nav-item" style="background-color:white" >@Html.ActionLink(WebPdfOdev.Resources.Home.DÖKÜMANLAR, "Download.cshtml", "Home")</li>|
                
                
                @if (Session["uyeid"] != null)
                {
                    <li class="nav-item" style="background-color:white">@Html.ActionLink(@Session["Kullanici"].ToString(), "Index", "OgrenciSayfası")</li>
                     
                        <li class="nav-item" style="background-color:red">@Html.ActionLink(WebPdfOdev.Resources.OgrenciPaneli.Menüler.Çıkış, "Cikis", "Uye")</li>
                    
                }
                else
                {

                }
               
               
                
               

                
           
            </ul>

        </div>
    </nav>
    <div class="content-wrapper">
      
            @RenderBody()
        
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2017</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
      
        <!-- Bootstrap core JavaScript-->
        <script src="~/Scripts/Admin/jquery.min.js"></script>
        <script src="~/Scripts/Admin/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Scripts/Admin/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Scripts/Admin/Chart.min.js"></script>
        <script src="~/Scripts/Admin/jquery.dataTables.js"></script>
        <script src="~/Scripts/Admin/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Scripts/Admin/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Scripts/Admin/sb-admin-datatables.min.js"></script>
        <script src="~/Scripts/Admin/Chart.min.js"></script>
    </div>
</body>
</html>
