@model TelefonRehberi.Models.Departman

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}

<h2 style="text-align:center">Departman Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.departmanıd)

        <div class="form-group">
            @Html.LabelFor(model => model.departmanadi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.departmanadi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.departmanadi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Geri Dön", "Index")
                <input type="submit" value="Düzenle" class="btn btn-default" />
            </div>
        </div>
    </div>
}


