@model IEnumerable<TelefonRehberi.Models.Departman>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}



<p style="margin-left:1%">
    @Html.ActionLink("Yeni Departman", "DepartmanEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.departmanadi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.departmanadi)
        </td>
        <td>
            @Html.ActionLink("Duzenle", "Duzenle", new { id=item.departmanıd }) |
            @Html.ActionLink("Detaylar", "Detaylar", new { id=item.departmanıd }) |
            @Html.ActionLink("Sil", "Sil", new { id=item.departmanıd })
        </td>
    </tr>
}

</table>
