@model Yolculuk.Models.TBL_ADMIN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Template/Admin_Template.cshtml";
}

<h2 style="text-align:center;color:red">ADMİN SİL</h2>

<div style="margin-left:5%">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kullaniciadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-default" /> |
            @Html.ActionLink("Admin Göster", "Index")
        </div>
    }
</div>
